{{> nav }}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Web Scraper</h1>
    <p class="lead">This App is not is not to be used for any commerical purposes; only educational.</p>
    <button type="button" id="getArticles" class="btn btn-primary">Get Articles!</button>
  </div>
</div>
<div class="container">
    {{> posts}}
</div>